#menu-title{
	margin-top: 50px;
	margin-bottom: 20px;
}

#category{
	font-size: 22px;
	font-weight: 600;
}

#makeparty{
	position: absolute;
    right: 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 17px;
    width: 116px;
    height: 32px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #258e75;
    color: #258e75;
    line-height: 18px;
}

#title-container{
	padding: 20px 0px;
	height: 110px;
	border-top: 2px solid #43a051;
	border-bottom: 1px solid #ececec;
}

#servicelogo{
	width: 70px;
	display: flex;
	float:left;
}

#etclogo{
	width: 70px;
	display: flex;
	float:left;
	filter: grayscale(100%);
}

#title-area{
	margin-left: 100px;
}

#servicename{
	display: block;
}

#title{
	font-size: 28px;
}

#pidx{
	color: gray;
	position: absolute;
	right:0;
}

#partyinfo{
	padding: 20px 0px;
	border-bottom: 1px solid #ececec;
}

#partyinfo div{
	position: absolute;
	right: 0;
	display: inline;
}

.participation{
	width: 150px; 
	display:inline-block;
	margin: 20px;
}

.non-participation{
	width: 150px; 
	display:inline-block;
	margin: 20px;
	filter: grayscale(100%);
}

#partystatus{
	padding: 50px 20px;
}

#announcement{
	border: 1px solid #ececec;
	padding: 30px;
	background-color: #f9f9f9;
}

.rule{
	margin-right: 10px;
	padding: 5px 15px;
	border-radius: 20px;
	background-color: #E6E6E6;
}

#comment{
	margin-top: 30px;
}

#checkform{
	border: 1px solid #ececec;
	border-top: 0px;
	padding: 25px 0;
	background-color: #f9f9f9;
	text-align: center;
}

#btnarea{
	padding: 60px 0;
	text-align: center;
}

#btnarea input[type="button"]{
	width: 150px;
	height: 70px;
	font-size: 20px;
}

#participate{
	border: 0px;
	background-color: #43a051;
	color: white;
    line-height: 70px;
    cursor: pointer;
    border-radius: 5px;
}

#getpartylist{
	border: 0px;
    background-color: #333;
	color: white;
    line-height: 70px;
    cursor: pointer;
    border-radius: 5px;
}

#participate:hover{
	background-color: #FFE05C;
}

#getpartylist:hover {
	background-color: #111;
}

#reply-title{
	margin-top: 30px;
	font-size: 22px;
	font-weight: 600;
}

#replyArea{
	margin-top: 30px;
	height: 100px;
	border: 1px solid lightgray;
	display: table;
	border-radius: 20px;
}

#reply-select{
	border: 1px solid lightgray;
	width: 200px;
	height: 100px;
	vertical-align: top;
	background-color: #f9f9f9;
	display: table-cell;
	border-radius: 20px 0px 0px 20px;
	font-size: 14px;
}

#comment-to {
	background-color: #f9f9f9;
	border-color: #f9f9f9;
	margin-top: 10px;
	margin-left: 15px;
	width: 170px;
}

#comment-to:focus {
	box-shadow: none !important; 
	border-color: #f9f9f9;
}

#replycontainer{
	border: 1px solid lightgray;
	width: 940px;
	height: 100px;
	vertical-align: top;
	display: table-cell;
}

#replycontainer textarea{
	resize: none;
	width: 940px;
	height: 100px;
	background-color: #f9f9f9;
	border-color: #f9f9f9;
	font-size: 13px;
}

#replycontainer textarea:focus{
	box-shadow: none !important; 
	border-color: #f9f9f9;
}

#replyform{
	font-size:0;
}

#replybtn{
	display: table-cell;
	width: 140px;
}

#replyregister{
	width: 140px;
	height: 102px;
	font-size: 20px;
	border: 0;
	background-color: #43a051;
	color: #fff;
	border-radius: 0px 20px 20px 0px;
}

#checkprivate{
	margin-top: 13px;
	margin-left: 120px;
}

#checkprivate input{
	box-shadow: none !important; 
	border-color: lightgray;
}

#chatarea{
	margin-top: 30px;
	margin-left: 20px;
}

#replynick{
	font-size: 20px;
}

