#service-container{
	margin:auto;
	width: 1200px;
	margin-top: 50px;
	margin-bottom: 80px;
}

#withdraw-tab-title{
	font-size: 25px;
    margin-bottom: 20px;
}

#withdraw-search select{
	width: 170px;
	display: inline;
	font-size: 13px;
}

#withdraw-search input[type="text"]{
	width: 500px;
	font-size: 13px;
	display: inline;
}

#withdraw-search input[type="button"]{
	font-size: 15px;
	border-radius: 10px;
	width: 120px;
	height: 32px;
	background-color: #43a051;
    color: white;
    border: 0;
}

#withdraw-search input[type="button"]#makeparty{
	background-color: #258e75;
}

#withdraw-search{
	border-radius: 20px;
	height: 80px;
	border: 1px solid #43a051;
	text-align: center;
	padding-top: 22px;
	margin-bottom: 30px;
}

#withdrawlist{
	margin-top: 10px;
	border-top: 1px solid #333333;
    border-bottom: 1px solid #ececec;
}

#withdrawlist table{
	text-align: center;
	width: 100%;
}

#withdrawlist table th{
	padding: 18px 0;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background-color: #f9f9f9;
}

#withdrawlist table td{
	padding: 15px 0;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    line-height: 16px;
    border-top: 1px solid #ececec;
}



#partymodify, #partydelete{
	font-size: 13px;
}