.page-header{
	text-align: center;
	margin-top: 20px;
}

.heading-explanation{
	text-align: center;
	margin-top: 10px;
}

.panel-heading {
	width: 400px;
	height: 55px;
	text-align: center;
}

.btn_inquiry {
	margin: 15px;
	background-color: blueviolet;
	color: white;
	border-radius:7px;
	min-height:30px; 
    min-width: 80px;
    
}

.btn_inquiry:hover {
	  background-color:#002ead;
      transition: 0.7s;
}

.panel-body{
	margin: auto;
}


table{
	width: initial;
	border-radius: 5px;
	text-align: center;
	border-spacing: 0;
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}

tr{
}

th, td{
	border: 1px 50px solid gray;
	padding: 7px;
}
th{
	background-color: gainsboro;
	color: black;
}
tr th:nth-of-type(1) {
	width: 5%
}
tr th:nth-of-type(2) {
	width: 10%
}
tr th:nth-of-type(3) {
	width: 10%
}
tr th:nth-of-type(4) {
	width: 50%
}
tr th:nth-of-type(5) {
	width: 10%
}
tr th:nth-of-type(6) {
	width: 15%
}

/* 처리결과 색상 3가지 내용은 나중에 변경한다. [대기, 완료, 확인중] [대기중, 처리완료, 확인중] */
.word-color1{
	color: green;
}
.word-color2{
	color: orange;
}
.word-color3{
	color: blue;
}


